/*
 * Copyright 2009 The Closure Library Authors. All Rights Reserved.
 *
 * Use of this source code is governed by the Apache License, Version 2.0.
 * See the COPYING file for details.
 */

/*
 * Styling for flat buttons created by goog.ui.FlatButtonRenderer.
 *
 * @author brianp@google.com (Brian Peterson)
 */

.goog-flat-button {
  position: relative;
  margin: 2px;
  border: 1px solid #d5d5d5;
  padding: 5px 6px;
  color: #2c2c2c;
  font: bold 13px/18px "Trebuchet MS", Tahoma, Arial, sans-serif;
  background-color: #efefef;
  background: -moz-linear-gradient(top, #f2f2f2 0, #efefef 100%);
  background: -webkit-gradient(linear, center top, center top, from(#f2f2f2), to(#efefef));
  background: -webkit-linear-gradient(top, #f2f2f2 0, #efefef 100%);
  background: -ms-linear-gradient(top, #f2f2f2 0, #efefef 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr = "#f2f2f2", endColorStr = "#efefef");
  background: -o-linear-gradient(top, #f2f2f2 0, #efefef 100%);
  background: linear-gradient(top, #f2f2f2 0, #efefef 100%);
  cursor: pointer;

  outline: none;
  -moz-outline: none;
  vertical-align: top;

  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;

  -moz-transition: -moz-box-shadow .2s;
  -webkit-transition: -webkit-box-shadow .2s;
  transition: box-shadow .1s, border .2s;
}

/* State: disabled. */
.goog-flat-button-disabled {
  color: #979797;
  cursor: default;
}

/* State: hover. */
.goog-flat-button-hover {
  border-color: #bbbbbb;
  color: #202020;
  z-index: 1;

  -moz-box-shadow: 1px 1px 1px #e9e9e9;
  -webkit-box-shadow: 1px 1px 1px #e9e9e9;
  box-shadow: 1px 1px 1px #e9e9e9;
}

/* State: active, selected, checked. */
.goog-flat-button-active,
.goog-flat-button-selected,
.goog-flat-button-checked {
  color: #0f0f0f;
  border-color: #bbbbbb !important;
  background-color: #e0e0e0;

  background: -moz-linear-gradient(top, #e9e9e9 0, #e0e0e0 100%);
  background: -webkit-gradient(linear, center top, center top, from(#e9e9e9), to(#e0e0e0));
  background: -webkit-linear-gradient(top, #e9e9e9 0, #e0e0e0 100%);
  background: -ms-linear-gradient(top, #e9e9e9 0, #e0e0e0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr = "#e9e9e9", endColorStr = "#e0e0e0");
  background: -o-linear-gradient(top, #e9e9e9 0, #e0e0e0 100%);
  background: linear-gradient(top, #e9e9e9 0, #e0e0e0 100%);

  -moz-box-shadow: inset 0 2px 5px #d0d0d0 !important;
  -webkit-box-shadow: inset 0 2px 5px #d0d0d0 !important;
  box-shadow: inset 0 2px 5px #d0d0d0 !important;
}

/* State: focused. */
.goog-flat-button-focused {
  border-color: #6699ee;

  /*-moz-box-shadow: 0px 0px 1px #6699ee;
  -webkit-box-shadow: 0px 0px 1px #6699ee;
  box-shadow: 0px 0px 1px #6699ee;*/

  z-index: 1;
}

/* Pill (collapsed border) styles. */
.goog-flat-button-collapse-right {
  margin-right: 0;
}

.goog-flat-button-collapse-left {
  margin-left: -1px;
}

/* Border radi should be treated separately in collapsed cases. */
.goog-flat-button-bord-rad-collapse-right {
  -moz-border-radius: 2px 0 0 2px;
  -webkit-border-radius: 2px 0 0 2px;
  border-radius: 2px 0 0 2px;
}

.goog-flat-button-bord-rad-collapse-left {
  -moz-border-radius: 0 2px 2px 0;
  -webkit-border-radius: 0 2px 2px 0;
  border-radius: 0 2px 2px 0;
}

.goog-flat-button-bord-rad-collapse-both {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}

/*Button with more important-meaning*/
.emphasis-button.goog-flat-button {
  background-color: #4080fe;
  background: -moz-linear-gradient(center top, #468ffe 0px, #4080fe 100%) repeat scroll 0 0 transparent;
  background: -webkit-gradient(linear, center top, center top, from(#468ffe), to(#4080fe));
  background: -webkit-linear-gradient(top, #468ffe 0, #4080fe 100%);
  background: -ms-linear-gradient(top, #468ffe 0, #4080fe 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr = "#468ffe", endColorStr = "#4080fe");
  background: -o-linear-gradient(top, #468ffe 0, #4080fe 100%);
  background: linear-gradient(top, #468ffe 0, #4080fe 100%);

  border-color: #3399ff;
  color: white;
}

.emphasis-button.goog-flat-button-hover {
  border-color: #1f5d9d;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.emphasis-button.goog-flat-button-active,
.emphasis-button.goog-flat-button-selected,
.emphasis-button.goog-flat-button-checked {
  color: white;
  border-color: #1f5d9d !important;
  background-color: #366afe;

  background: -moz-linear-gradient(center top, #3c79fe 0px, #366afe 100%) repeat scroll 0 0 transparent;
  background: -webkit-gradient(linear, center top, center top, from(#3c79fe), to(#366afe));
  background: -webkit-linear-gradient(top, #3c79fe 0, #366afe 100%);
  background: -ms-linear-gradient(top, #3c79fe 0, #366afe 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr = "#3c79fe", endColorStr="#366afe");
  background: -o-linear-gradient(top, #3c79fe 0, #366afe 100%);
  background: linear-gradient(top, #3c79fe 0, #366afe 100%);

  -moz-box-shadow: inset 0 2px 5px 1px #2e61fe !important;
  -webkit-box-shadow: inset 0 2px 5px 1px #2e61fe !important;
  box-shadow: inset 0 2px 5px 1px #2e61fe !important;

}

/* State: focused. */
.emphasis-button.goog-flat-button-focused {
  -moz-box-shadow: 0 0 5px 0 #3879fe;
  -webkit-box-shadow: 0 0 5px 0 #3879fe;
  box-shadow: 0 0 5px 0 #3879fe;

  z-index: 1;
}
