# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/

# Node
node_modules

# Project
build
client_secret_*.json
# For additionally disabled files, look into css/.gitignore, js/.gitignore,
# logs/.gitignore