<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <title>Rflect calendar</title>
    <link href="../css/common.css" rel="stylesheet" type="text/css">
    <link href="../css/flatbutton.css" rel="stylesheet" type="text/css">
    <link href="../css/datepicker.css" rel="stylesheet" type="text/css">
    <link href="../css/rflectcalendar.css" rel="stylesheet" type="text/css">
    <script src="../" type="text/javascript"></script>
</head>
<body>
<div class="main-container">
<div id="top-pane">

    <div id="sidebar-controls">

        <div class="goog-flat-button goog-flat-button-collapse-right
                         goog-inline-block cal-menu-leftmost-button
                         goog-flat-button-bord-rad-collapse-right
                         cal-menu-button cal-menu-button-now" id="nb1"
             role="button" style="-moz-user-select: none;" tabindex="0">
            Now
        </div><div class="goog-flat-button goog-flat-button-collapse-left
                        goog-flat-button-collapse-right
                         goog-inline-block goog-flat-button-bord-rad-collapse-both
                         cal-menu-button cal-menu-button-back" id="nb2"
             role="button" style="-moz-user-select: none;" tabindex="0">
            <div class="button-sign button-sign-back goog-inline-block"></div>

        </div><div class="goog-flat-button goog-flat-button-collapse-left
                        goog-inline-block cal-menu-rightmost-button
                        goog-flat-button-bord-rad-collapse-left
                        cal-menu-button cal-menu-button-forward" id="nb3"
             role="button" style="-moz-user-select: none;" tabindex="0">
            <!--<div class="button-sign-cont goog-inline-block">-->
                <div class="button-sign button-sign-forward goog-inline-block"></div>
            <!--</div>-->
        </div>

    </div>
    <div id="main-pane-controls">
        <div id="main-pane-controls-right">

            <div style="margin-right: 0px;" class="goog-inline-block">
            <div class="goog-flat-button goog-flat-button-collapse-right
                         goog-inline-block goog-flat-button-bord-rad-collapse-right
                         cal-menu-button" id="nb4"
                 role="button" style="-moz-user-select: none;" tabindex="0">
                Day
            </div><div class="goog-flat-button goog-flat-button-collapse-left
                        goog-flat-button-collapse-right
                         goog-inline-block goog-flat-button-active
                         goog-flat-button-bord-rad-collapse-both
                         cal-menu-button" id="nb5"
                 role="button" style="-moz-user-select: none;" tabindex="0">
                Week
            </div><div class="goog-flat-button goog-flat-button-collapse-left
                        goog-inline-block top-nav-rightmost-button
                        goog-flat-button-bord-rad-collapse-left
                        cal-menu-button cal-menu-button-month-view" id="nb6"
                 role="button" style="-moz-user-select: none;" tabindex="0">
                Month
            </div>
            </div>

            <div class="goog-flat-button
                        goog-inline-block cal-menu-rightmost-button
                        cal-menu-button cal-menu-button-options
                        " id="nb8"
                 role="button" style="-moz-user-select: none;" tabindex="0">
                <div class="button-sign button-sign-options goog-inline-block"></div>
            </div>
        </div>
        <div id="main-pane-controls-left">

            <div id="main-pane-controls-left-left">
                <div class="goog-flat-button
                        goog-inline-block cal-menu-button cal-menu-button-new-event
                        cal-menu-leftmost-button" id="nb7"
                     role="button" style="-moz-user-select: none;" tabindex="0">
                    New event
                </div>
            </div>
            <div id="main-pane-controls-left-right">
                <div id="time-period-label">31 Dec 2011 &ndash; 1 Jan 2012</div>
            </div>

            <!--<table border="0" cellspacing="0" cellpadding="0">
                <tbody>
                <tr>
                    <td id="left-navtable">
                        <div class="goog-flat-button
                        goog-inline-block top-nav-leftmost-button" id="nb7"
                             role="button" style="-moz-user-select: none;" tabindex="0">
                            New event
                        </div>
                    </td>
                    <td><div id="time-period-label">31 Dec 2011 &ndash; 1 Jan 2012</div></td>
                </tr>
                </tbody>
            </table>-->
        </div>
    </div>


</div>
<div id="main-body">
<div id="left-pane">
<div id="left-main-pane">
    <div id="month-selector">
        <div class="goog-date-picker" tabindex="0">
            <table cellspacing="0" cellpadding="0">
                <thead>
                <tr class="goog-date-picker-head">
                    <td colspan="7">
                        <div class="goog-date-picker-buttons">
                            <div class="goog-date-picker-btn month-sel-btn month-sel-btn-back">&nbsp;</div>
                            <div class="goog-date-picker-btn month-sel-btn month-sel-btn-forward">&nbsp;</div>
                        </div>
                        <div class="goog-date-picker-month">
                            2013&nbsp;August
                        </div>
                    </td>
                </tr>
                </thead>
                <tbody role="grid" tabindex="0" aria-activedescendant="goog-dp-63">
                <tr>
                    <!--<th></th>-->
                    <th role="columnheader" class="goog-date-picker-wday">M</th>
                    <th role="columnheader" class="goog-date-picker-wday">T</th>
                    <th role="columnheader" class="goog-date-picker-wday">W</th>
                    <th role="columnheader" class="goog-date-picker-wday">T</th>
                    <th role="columnheader" class="goog-date-picker-wday">F</th>
                    <th role="columnheader" class="goog-date-picker-wday">S</th>
                    <th role="columnheader" class="goog-date-picker-wday">S</th>
                </tr>
                <tr>
                    <!--<th class="" role="rowheader"></th>-->
                    <td id="goog-dp-42" role="gridcell" class="goog-date-picker-date">1</td>
                    <td id="goog-dp-43" role="gridcell" class="goog-date-picker-date">2</td>
                    <td id="goog-dp-44" role="gridcell" class="goog-date-picker-date">3</td>
                    <td id="goog-dp-45" role="gridcell" class="goog-date-picker-date">4</td>
                    <td id="goog-dp-46" role="gridcell" class="goog-date-picker-date">5</td>
                    <td id="goog-dp-47" role="gridcell" class="goog-date-picker-date goog-date-picker-wkend-start">6
                    </td>
                    <td id="goog-dp-48" role="gridcell" class="goog-date-picker-date goog-date-picker-wkend-end">7</td>
                </tr>
                <tr>
                    <!--<th class="" role="rowheader"></th>-->
                    <td id="goog-dp-49" role="gridcell" class="goog-date-picker-date">8</td>
                    <td id="goog-dp-50" role="gridcell" class="goog-date-picker-date">9</td>
                    <td id="goog-dp-51" role="gridcell" class="goog-date-picker-date">10</td>
                    <td id="goog-dp-52" role="gridcell" class="goog-date-picker-date">11</td>
                    <td id="goog-dp-53" role="gridcell" class="goog-date-picker-date">12</td>
                    <td id="goog-dp-54" role="gridcell" class="goog-date-picker-date goog-date-picker-wkend-start">13
                    </td>
                    <td id="goog-dp-55" role="gridcell" class="goog-date-picker-date goog-date-picker-wkend-end">14</td>
                </tr>
                <tr>
                    <!--<th class="" role="rowheader"></th>-->
                    <td id="goog-dp-56" role="gridcell" class="goog-date-picker-date">15</td>
                    <td id="goog-dp-57" role="gridcell" class="goog-date-picker-date">16</td>
                    <td id="goog-dp-58" role="gridcell" class="goog-date-picker-date">17</td>
                    <td id="goog-dp-59" role="gridcell" class="goog-date-picker-date">18</td>
                    <td id="goog-dp-60" role="gridcell" class="goog-date-picker-date">19</td>
                    <td id="goog-dp-61" role="gridcell" class="goog-date-picker-date goog-date-picker-wkend-start">20
                    </td>
                    <td id="goog-dp-62" role="gridcell" class="goog-date-picker-date goog-date-picker-wkend-end">21</td>
                </tr>
                <tr>
                    <!--<th class="" role="rowheader"></th>-->
                    <td id="goog-dp-63" role="gridcell" class="goog-date-picker-date goog-date-picker-selected">22</td>
                    <td id="goog-dp-64" role="gridcell" class="goog-date-picker-date">23</td>
                    <td id="goog-dp-65" role="gridcell" class="goog-date-picker-date">24</td>
                    <td id="goog-dp-66" role="gridcell" class="goog-date-picker-date">25</td>
                    <td id="goog-dp-67" role="gridcell" class="goog-date-picker-date">26</td>
                    <td id="goog-dp-68" role="gridcell" class="goog-date-picker-date goog-date-picker-wkend-start">27
                    </td>
                    <td id="goog-dp-69" role="gridcell" class="goog-date-picker-date goog-date-picker-wkend-end">28</td>
                </tr>
                <tr>
                    <!--<th class="" role="rowheader"></th>-->
                    <td id="goog-dp-70" role="gridcell" class="goog-date-picker-date">29</td>
                    <td id="goog-dp-71" role="gridcell" class="goog-date-picker-date">30</td>
                    <td id="goog-dp-72" role="gridcell" class="goog-date-picker-date">31</td>
                    <td id="goog-dp-73" role="gridcell" class="goog-date-picker-date goog-date-picker-other-month">1
                    </td>
                    <td id="goog-dp-74" role="gridcell" class="goog-date-picker-date goog-date-picker-other-month">2
                    </td>
                    <td id="goog-dp-75" role="gridcell"
                        class="goog-date-picker-date goog-date-picker-other-month goog-date-picker-wkend-start">3
                    </td>
                    <td id="goog-dp-76" role="gridcell"
                        class="goog-date-picker-date goog-date-picker-other-month goog-date-picker-wkend-end">4
                    </td>
                </tr>
                <tr>
                    <!--<th class="" role="rowheader"></th>-->
                    <td id="goog-dp-77" role="gridcell" class="goog-date-picker-date goog-date-picker-other-month">5
                    </td>
                    <td id="goog-dp-78" role="gridcell" class="goog-date-picker-date goog-date-picker-other-month">6
                    </td>
                    <td id="goog-dp-79" role="gridcell" class="goog-date-picker-date goog-date-picker-other-month">7
                    </td>
                    <td id="goog-dp-80" role="gridcell" class="goog-date-picker-date goog-date-picker-other-month">8
                    </td>
                    <td id="goog-dp-81" role="gridcell" class="goog-date-picker-date goog-date-picker-other-month">9
                    </td>
                    <td id="goog-dp-82" role="gridcell"
                        class="goog-date-picker-date goog-date-picker-other-month goog-date-picker-wkend-start">10
                    </td>
                    <td id="goog-dp-83" role="gridcell"
                        class="goog-date-picker-date goog-date-picker-other-month goog-date-picker-wkend-end">11
                    </td>
                </tr>
                </tbody>
                <tfoot style="display: none;">
                <tr class="goog-date-picker-foot">
                    <td colspan="2" class="goog-date-picker-today-cont">
                        <button class="goog-date-picker-btn" style="display: none;">Today</button>
                    </td>
                    <td colspan="3"></td>
                    <td colspan="2" class="goog-date-picker-none-cont">
                        <button class="goog-date-picker-btn" style="display: none;">None</button>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>

    <div id="calendars-selector-my" class="list-selector" style="height: 150px">
        <div id="calendars-label-cont" class="list-label-cont">
            <div id="calendars-label" class="list-label">Calendars</div>
            <div id="calitem-opt" class="listitem-opt calitem-opt-right"></div>
        </div>
        <div id="calendars-body" class="list-body">


            <div id="calitem-cont-item1" class="listitem-cont"
                 style="border-color: #28518e">
                <div id="calitem-color-item1" class="calitem-color-cont calitem-color-active">
                    <div class="calitem-color-up"></div>
                    <div class="calitem-color-down"></div>
                    <div class="listitem-checked-sign"></div>
                     </div>
                <div id="calitem-label-item1" class="listitem-label calitem-label-active">
                    <div id="calitem-opt-item1" class="listitem-opt-cont"></div>
                    Red calendarrrrr
                </div>
            </div>

            <!--<div id="calitem-cont-item2" class="listitem-cont"
                 style="border-color: #28518e">
                <div id="calitem-color-item2" class="listitem-color"
                     style="background-color: #6699ee"></div>
                <div id="calitem-label-item2" class="listitem-label calitem-label-inactive">
                    <div id="calitem-opt-item2" class="listitem-opt-cont"></div>
                    Blue calendar
                </div>
            </div>

            <div id="calitem-cont-item3" class="listitem-cont"
                 style="border-color: #28518e">
                <div id="calitem-color-item3" class="listitem-color"
                     style="background-color: #6699ee"></div>
                <div id="calitem-label-item3" class="listitem-label calitem-label-inactive">
                    <div id="calitem-opt-item3" class="listitem-opt-cont"></div>
                    Orange calendar
                </div>
            </div>-->

        </div>
    </div>

    <div id="calendars-selector-other" class="list-selector" style="height: 150px">
        <div id="tasks-label-cont" class="list-label-cont">
            <div id="tasks-label" class="list-label">Tasks</div>

            <div id="tasks-opt" class="tasks-opt tasks-opt-right"></div>

        </div>
        <div id="tasks-body" class="list-body">

            <div id="taskitem-cont-item1" class="listitem-cont"
                 style="border-color: #28518e">
                <div id="taskitem-color-item1" class="listitem-color"
                     style="background-color: #6699ee">
                    <div class="listitem-checked-sign"></div>
                     </div>
                <div id="taskitem-label-item1" class="listitem-label taskitem-label-completed">
                    <div id="taskitem-opt-item1" class="listitem-opt-cont"></div>
                    New UI
                </div>
            </div>

            <div id="taskitem-cont-item2" class="listitem-cont"
                 style="border-color: #28518e">
                <div id="taskitem-color-item2" class="listitem-color"
                     style="background-color: #6699ee"></div>
                <div id="taskitem-label-item2" class="listitem-label">
                    <div id="taskitem-opt-item2" class="listitem-opt-cont"></div>
                    Server platform
                </div>
            </div>

            <div id="taskitem-cont-item3" class="listitem-cont"
                 style="border-color: #28518e">
                <div id="taskitem-color-item3" class="listitem-color"
                     style="background-color: #6699ee"></div>
                <div id="taskitem-label-item3" class="listitem-label">
                    <div id="taskitem-opt-item3" class="listitem-opt-cont"></div>
                    Some taaaaaaaaaaaaaask
                </div>
            </div>

            <div id="taskitem-new-cont" class="taskitem-new">
                Add new task
            </div>

        </div>
    </div>
</div>
    <div id="left-aux-pane">

    </div>




</div>
<div id="main-pane">

<div id="main-pane-header">
    <div id="daynames-prefix-wk">
        <div id="daynames-zippy" class="zippy goog-zippy-collapsed"></div>
    </div>

    <div id="main-pane-header-container" class="main-pane-header-container-wk">
        <div id="main-pane-header-wk-daynames">

            <div id="weekmode-daynames-table">
                <div id="dayname0"
                     style="margin-left: 0; margin-right: 85.7143%; height: 100%;">
                   Monday
                </div>
                <div id="dayname1"
                     style="margin-left: 14.2857%; margin-right: 71.4286%; height: 100%;
            position: relative; top: -100%">
                    Tuesday
                </div>
                <div id="dayname2"
                     style="margin-left: 28.5714%; margin-right: 57.1428%; height: 100%;
            position: relative; top: -200%">
                    Wednesday
                </div>
                <div id="dayname3"
                     style="margin-left: 42.8571%; margin-right: 42.8571%; height: 100%;
            position: relative; top: -300%">
                    Thursday
                </div>
                <div id="dayname4"
                     style="margin-left: 57.1428%; margin-right: 28.5714%; height: 100%;
            position: relative; top: -400%">
                   Friday
                </div>
                <div id="dayname5"
                     style="margin-left: 71.4286%; margin-right: 14.2857%; height: 100%;
            position: relative; top: -500%">
                    Saturday
                </div>
                <div id="dayname6"
                     style="margin-left: 85.7143%; margin-right: 0; height: 100%;
            position: relative; top: -600%">
                    Sunday
                </div>
            </div>

        </div>
        <div id="main-pane-header-scrollable" class="mphs-scroll-vert-off mphs-scroll-horz-on">
            <div id="alldayevents-grid-wrapper">
            <div id="alldayevents-grid" style="height: 155px; width: 120%;">
                <div id="weekgrid-ad-col1" class="weekgrid-col wk-ad-layers-cont-outer"
                     style="margin-left: 0; margin-right: 85.7143%;">
                    <div class="wk-ad-layers-cont">
                        <div id="wk-ad-dec-layer-col1" class="wk-ad-decoration-layer">
                        <div class="expand-sign-wk-ad-cont">
                                <div class="expand-sign-wk-ad expand-sign-wk-ad-collapsed"></div>
                            </div>
                        </div>
                        <div id="wk-ad-events-layer-col1" class="wk-ad-events-layer">
                            <div class="event-rect-mn-outer" style="margin-left: 0; margin-right: 0;">
                                <div class="event-rect-mn">
                                    <div class="event-rect-mn-inner" style="background-color: #005000;">
                                        Droid conf at Googleplex and in BSUIR and, then in EPAM
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="wk-ad-mask-layer-col1" class="wk-ad-mask-layer">
                            <div id="mask-ad-col1" class="wk-ad-mask"></div>
                        </div>
                    </div>
                </div>
                <div id="weekgrid-ad-col2" class="weekgrid-col wk-ad-layers-cont-outer"
                     style="margin-left: 14.2857%; margin-right: 71.4286%; top: -100%">
                    <div class="wk-ad-layers-cont">
                        <div id="wk-ad-dec-layer-col2" class="wk-ad-decoration-layer">
                        </div>
                        <div id="wk-ad-events-layer-col2" class="wk-ad-events-layer">
                        </div>
                        <div id="wk-ad-mask-layer-col2" class="wk-ad-mask-layer">
                            <div id="mask-ad-col2" class="wk-ad-mask"></div>
                        </div>
                    </div>
                </div>
                <div id="weekgrid-ad-col3" class="weekgrid-col wk-ad-layers-cont-outer"
                     style="margin-left: 28.5714%; margin-right: 57.1428%; top: -200%">
                    <div class="wk-ad-layers-cont">
                        <div id="wk-ad-dec-layer-col3" class="wk-ad-decoration-layer">

                            <div class="expand-sign-wk-ad-cont">
                                <div class="expand-sign-wk-ad expand-sign-wk-ad-collapsed"></div>
                            </div>

                        </div>
                        <div id="wk-ad-events-layer-col3" class="wk-ad-events-layer">
                            <div class="event-rect-mn-outer" style="margin-left: 0; margin-right: 0; top: 0;">
                                <div class="event-rect-mn event-rect-mn-collapse-right">
                                    <div class="event-rect-mn-inner event-rect-mn-inner-collapse-right event-rect-focused"
                                         style="background-color: #6699ee;">
                                        Open source meeting
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="wk-ad-mask-layer-col3" class="wk-ad-mask-layer">
                            <div id="mask-ad-col3" style="display: none" class="wk-ad-mask"></div>
                        </div>
                    </div>
                </div>
                <div id="weekgrid-ad-col4" class="weekgrid-col weekgrid-col-today wk-ad-layers-cont-outer"
                     style="margin-left: 42.8571%; margin-right: 42.8571%; top: -300%">
                    <div class="wk-ad-layers-cont">
                        <div id="wk-ad-dec-layer-col4" class="wk-ad-decoration-layer">
                        </div>
                        <div id="wk-ad-events-layer-col4" class="wk-ad-events-layer">
                            <div class="event-rect-mn-outer" style="margin-left: 0; margin-right: 0; top: 0;">
                                <div class="event-rect-mn event-rect-mn-collapse-left">
                                    <div class="event-rect-mn-inner event-rect-mn-inner-collapse-left event-rect-focused"
                                         style="background-color: #6699ee;">
                                        Open source meeting
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="wk-ad-mask-layer-col4" class="wk-ad-mask-layer">
                            <div id="mask-ad-col4" style="display: none" class="wk-ad-mask"></div>
                        </div>
                    </div>
                </div>
                <div id="weekgrid-ad-col5" class="weekgrid-col wk-ad-layers-cont-outer"
                     style="margin-left: 57.1428%; margin-right: 28.5714%; top: -400%">
                    <div class="wk-ad-layers-cont">
                        <div id="wk-ad-dec-layer-col5" class="wk-ad-decoration-layer">
                        </div>
                        <div id="wk-ad-events-layer-col5" class="wk-ad-events-layer">
                        </div>
                        <div id="wk-ad-mask-layer-col5" class="wk-ad-mask-layer">
                            <div id="mask-ad-col5" style="display: none" class="wk-ad-mask"></div>
                        </div>
                    </div>
                </div>
                <div id="weekgrid-ad-col6" class="weekgrid-col wk-ad-layers-cont-outer"
                     style="margin-left: 71.4286%; margin-right: 14.2857%; top: -500%">
                    <div class="wk-ad-layers-cont">
                        <div id="wk-ad-dec-layer-col6" class="wk-ad-decoration-layer">
                        </div>
                        <div id="wk-ad-events-layer-col6" class="wk-ad-events-layer">

                            <div class="event-rect-mn-outer" style="margin-left: 0; margin-right: 80%; top: 0;">
                                <div class="event-rect-mn event-rect-mn-collapse-left">
                                    <div class="event-rect-mn-inner event-rect-mn-inner-collapse-left"
                                         style="background-color: #7bce6d; color: #2c2c2c">
                                        Planning Rflect Tests
                                    </div>
                                </div>
                            </div>
                            <div class="event-rect-mn-outer" style="margin-left: 20%; margin-right: 20%; top: -17px;
                                    margin-bottom: -17px;">
                                <div class="event-rect-mn">
                                    <div class="event-rect-mn-inner"
                                         style="background-color: #7bce6d; color: #2c2c2c">
                                        Planning Rflect Tests
                                    </div>
                                </div>
                            </div>
                            <div class="event-rect-mn-outer" style="margin-left: 80%; margin-right: 0; top: -17px;
                                    margin-bottom: -17px;">
                                <div class="event-rect-mn event-rect-mn-collapse-right">
                                    <div class="event-rect-mn-inner event-rect-mn-inner-collapse-right"
                                         style="background-color: #7bce6d; color: #2c2c2c">
                                        Planning Rflect Tests
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div id="wk-ad-mask-layer-col6" class="wk-ad-mask-layer">
                            <div id="mask-ad-col6" style="display: none" class="wk-ad-mask"></div>
                        </div>
                    </div>
                </div>
                <div id="weekgrid-ad-col7" class="weekgrid-col weekgrid-col-last wk-ad-layers-cont-outer"
                     style="margin-left: 85.7143%; margin-right: 0; top: -600%">
                    <div class="wk-ad-layers-cont">
                        <div id="wk-ad-dec-layer-col7" class="wk-ad-decoration-layer">
                        </div>
                        <div id="wk-ad-events-layer-col7" class="wk-ad-events-layer">
                            <div class="event-rect-mn-outer" style="margin-left: 0; margin-right: 0; top: 0;">
                                <div class="event-rect-mn">
                                    <div class="event-rect-mn-inner"
                                         style="background-color: #7bce6d; color: #2c2c2c">
                                        Planning Rflect Tests
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="wk-ad-mask-layer-col7" class="wk-ad-mask-layer">
                            <div id="mask-ad-col7" style="display: none" class="wk-ad-mask"></div>
                        </div>
                    </div>
                </div>
            </div>
                <!--<table id="alldayevents-grid" cellspacing="0" cellpadding="0" style="height: 55px">
                    <tbody class="wk-ad-layers-cont-outer">
                    <tr class="wk-ad-layers-cont-outer">
                        <td id="weekgrid-ad-col1" class="weekgrid-col wk-ad-layers-cont-outer">
                            <div class="wk-ad-layers-cont">
                                <div id="wk-ad-dec-layer-col1" class="wk-ad-decoration-layer">

                                <div class="expand-sign-wk-ad-cont">
                                    <div class="expand-sign-wk-ad expand-sign-wk-ad-collapsed"></div>
                                </div>

                                </div>
                                <div id="wk-ad-events-layer-col1" class="wk-ad-events-layer">
                                    <div class="event-rect-mn-outer" style="margin-left: 0; margin-right: 0;">
                                        <div class="event-rect-mn">
                                            <div class="event-rect-mn-inner" style="background-color: #005000;">
                                                Droid conf at Googleplex and in BSUIR and, then in EPAM
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="wk-ad-mask-layer-col1" class="wk-ad-mask-layer">
                                    <div id="mask-ad-col1" class="wk-ad-mask"></div>
                                </div>
                            </div>
                        </td>
                        <td id="weekgrid-ad-col2" class="weekgrid-col wk-ad-layers-cont-outer">
                            <div class="wk-ad-layers-cont">
                                <div id="wk-ad-dec-layer-col2" class="wk-ad-decoration-layer">
                                </div>
                                <div id="wk-ad-events-layer-col2" class="wk-ad-events-layer">
                                </div>
                                <div id="wk-ad-mask-layer-col2" class="wk-ad-mask-layer">
                                    <div id="mask-ad-col2" class="wk-ad-mask"></div>
                                </div>
                            </div>
                        </td>
                        <td id="weekgrid-ad-col3" class="weekgrid-col wk-ad-layers-cont-outer">
                            <div class="wk-ad-layers-cont">
                                <div id="wk-ad-dec-layer-col3" class="wk-ad-decoration-layer">

                                    <div class="expand-sign-wk-ad-cont">
                                        <div class="expand-sign-wk-ad expand-sign-wk-ad-collapsed"></div>
                                    </div>

                                </div>
                                <div id="wk-ad-events-layer-col3" class="wk-ad-events-layer">
                                    <div class="event-rect-mn-outer" style="margin-left: 0; margin-right: 0; top: 0;">
                                        <div class="event-rect-mn event-rect-mn-collapse-right">
                                            <div class="event-rect-mn-inner event-rect-mn-inner-collapse-right event-rect-focused" style="background-color: #6699ee;">
                                                Open source meeting
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="wk-ad-mask-layer-col3" class="wk-ad-mask-layer">
                                    <div id="mask-ad-col3" style="display: none" class="wk-ad-mask"></div>
                                </div>
                            </div>
                        </td>
                        <td id="weekgrid-ad-col4" class="weekgrid-col wk-ad-layers-cont-outer">
                            <div class="wk-ad-layers-cont">
                                <div id="wk-ad-dec-layer-col4" class="wk-ad-decoration-layer">
                                </div>
                                <div id="wk-ad-events-layer-col4" class="wk-ad-events-layer">
                                <div class="event-rect-mn-outer" style="margin-left: 0; margin-right: 0; top: 0;">
                                    <div class="event-rect-mn event-rect-mn-collapse-left">
                                        <div class="event-rect-mn-inner event-rect-mn-inner-collapse-left event-rect-focused" style="background-color: #6699ee;">
                                            Open source meeting
                                        </div>
                                    </div>
                                </div>
                                </div>
                                <div id="wk-ad-mask-layer-col4" class="wk-ad-mask-layer">
                                <div id="mask-ad-col4" style="display: none" class="wk-ad-mask"></div>
                                </div>
                            </div>
                        </td>
                        <td id="weekgrid-ad-col5" class="weekgrid-col wk-ad-layers-cont-outer">
                            <div class="wk-ad-layers-cont">
                                <div id="wk-ad-dec-layer-col5" class="wk-ad-decoration-layer">
                                </div>
                                <div id="wk-ad-events-layer-col5" class="wk-ad-events-layer">
                                </div>
                                <div id="wk-ad-mask-layer-col5" class="wk-ad-mask-layer">
                                <div id="mask-ad-col5" style="display: none" class="wk-ad-mask"></div>
                                </div>
                            </div>
                        </td>
                        <td id="weekgrid-ad-col6" class="weekgrid-col wk-ad-layers-cont-outer">
                            <div class="wk-ad-layers-cont">
                                <div id="wk-ad-dec-layer-col6" class="wk-ad-decoration-layer">
                                </div>
                                <div id="wk-ad-events-layer-col6" class="wk-ad-events-layer">
                                    &lt;!&ndash;<div class="event-rect-mn-outer" style="margin-right: 80%; top: 0;">&ndash;&gt;
                                    <div class="event-rect-mn-outer" style="margin-left: 0; margin-right: 80%; top: 0;">
                                        <div class="event-rect-mn event-rect-mn-collapse-left">
                                        <div class="event-rect-mn-inner event-rect-mn-inner-collapse-left"
                                             style="background-color: #7bce6d; color: #2c2c2c">
                                            Planning Rflect Tests
                                        </div>
                                    </div></div>

                                    <div class="event-rect-mn-outer" style="margin-left: 20%; margin-right: 20%; top: -1.4615em;
                                    margin-bottom: -1.4615em;">
                                        <div class="event-rect-mn">
                                            <div class="event-rect-mn-inner"
                                                 style="background-color: #7bce6d; color: #2c2c2c">
                                                Planning Rflect Tests
                                            </div>
                                        </div>
                                    </div>

                                    <div class="event-rect-mn-outer" style="margin-left: 80%; margin-right: 0; top: -1.4615em;
                                    margin-bottom: -1.4615em;">
                                        <div class="event-rect-mn event-rect-mn-collapse-right">
                                            <div class="event-rect-mn-inner event-rect-mn-inner-collapse-right"
                                                 style="background-color: #7bce6d; color: #2c2c2c">
                                                Planning Rflect Tests
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="wk-ad-mask-layer-col6" class="wk-ad-mask-layer">
                                    <div id="mask-ad-col6" style="display: none" class="wk-ad-mask"></div>
                                </div>
                            </div>
                        </td>
                        <td id="weekgrid-ad-col7" class="wk-ad-layers-cont-outer">
                            <div class="wk-ad-layers-cont">
                                <div id="wk-ad-dec-layer-col7" class="wk-ad-decoration-layer">
                                </div>
                                <div id="wk-ad-events-layer-col7" class="wk-ad-events-layer">
                                    <div class="event-rect-mn-outer" style="margin-left: 0; margin-right: 0; top: 0;">
                                    &lt;!&ndash;<div class="event-rect-mn-outer" style="margin-left: 10%" style="top: 0;">&ndash;&gt;
                                        <div class="event-rect-mn">
                                        <div class="event-rect-mn-inner"
                                             style="background-color: #7bce6d; color: #2c2c2c">
                                            Planning Rflect Tests
                                        </div>
                                    </div></div>
                                </div>
                                <div id="wk-ad-mask-layer-col7" class="wk-ad-mask-layer">
                                    <div id="mask-ad-col7" style="display: none" class="wk-ad-mask"></div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>-->
            </div>
        </div>
        <div id="main-pane-header-wk-zippies">

            <div id="weekmode-zippies-table">
                <div class="wk-col-zippy-cont"
                     style="margin-left: 0; margin-right: 85.7143%; height: 100%;">
                    <div id="wk-zippy-col1" class="zippy wk-col-zippy goog-zippy-expanded"></div>
                </div>
                <div class="wk-col-zippy-cont"
                     style="margin-left: 14.2857%; margin-right: 71.4286%; height: 100%;
            position: relative; top: -100%">
                    <div id="wk-zippy-col2" class="zippy wk-col-zippy goog-zippy-expanded"></div>
                </div>
                <div class="wk-col-zippy-cont"
                     style="margin-left: 28.5714%; margin-right: 57.1428%; height: 100%;
            position: relative; top: -200%">
                    <div id="wk-zippy-col3" class="zippy wk-col-zippy goog-zippy-expanded"></div>
                </div>
                <div class="wk-col-zippy-cont"
                     style="margin-left: 42.8571%; margin-right: 42.8571%; height: 100%;
            position: relative; top: -300%">
                    <div id="wk-zippy-col4" class="zippy wk-col-zippy goog-zippy-expanded"></div>
                </div>
                <div class="wk-col-zippy-cont"
                     style="margin-left: 57.1428%; margin-right: 28.5714%; height: 100%;
            position: relative; top: -400%">
                    <div id="wk-zippy-col5" class="zippy wk-col-zippy goog-zippy-expanded"></div>
                </div>
                <div class="wk-col-zippy-cont"
                     style="margin-left: 71.4286%; margin-right: 14.2857%; height: 100%;
            position: relative; top: -500%">
                    <div id="wk-zippy-col6" class="zippy wk-col-zippy goog-zippy-expanded"></div>
                </div>
                <div class="wk-col-zippy-cont"
                     style="margin-left: 85.7143%; margin-right: 0; height: 100%;
            position: relative; top: -600%">
                    <div id="wk-zippy-col7" class="zippy wk-col-zippy goog-zippy-expanded"></div>
                </div>
            </div>


        </div>
    </div>


</div>
<div id="main-pane-body-scrollable-wk">

<div id="hours-container">

    <div id="time-marker-head" style="top: 200px;"></div>

    <div class="grid-table-row grid-table-row-odd">
        <div class="hour-label hl-odd">00:00</div>
    </div>
    <div class="grid-table-row grid-table-row-even">
        <div class="hour-label hl-even">00:30</div>
    </div>
    <div class="grid-table-row grid-table-row-odd">
        <div class="hour-label hl-odd">01:00</div>
    </div>
    <div class="grid-table-row grid-table-row-even">
        <div class="hour-label hl-even">01:30</div>
    </div>
    <div class="grid-table-row grid-table-row-odd">
        <div class="hour-label hl-odd">02:00</div>
    </div>
    <div class="grid-table-row grid-table-row-even">
        <div class="hour-label hl-even">00:30</div>
    </div>
    <div class="grid-table-row grid-table-row-odd">
        <div class="hour-label hl-odd">03:00</div>
    </div>
    <div class="grid-table-row grid-table-row-even">
        <div class="hour-label hl-even">03:30</div>
    </div>
    <div class="grid-table-row grid-table-row-odd">
        <div class="hour-label hl-odd">04:00</div>
    </div>
    <div class="grid-table-row grid-table-row-even">
        <div class="hour-label hl-even">04:30</div>
    </div>
    <div class="grid-table-row grid-table-row-odd">
        <div class="hour-label hl-odd">05:00</div>
    </div>
    <div class="grid-table-row grid-table-row-even">
        <div class="hour-label hl-even">05:30</div>
    </div>
    <div class="grid-table-row grid-table-row-odd">
        <div class="hour-label hl-odd">06:00</div>
    </div>
    <div class="grid-table-row grid-table-row-even">
        <div class="hour-label hl-even">06:30</div>
    </div>
    <div class="grid-table-row grid-table-row-odd">
        <div class="hour-label hl-odd">07:00</div>
    </div>
    <div class="grid-table-row grid-table-row-even">
        <div class="hour-label hl-even">07:30</div>
    </div>
    <div class="grid-table-row grid-table-row-odd">
        <div class="hour-label hl-odd">08:00</div>
    </div>
    <div class="grid-table-row grid-table-row-even">
        <div class="hour-label hl-even">08:30</div>
    </div>
    <div class="grid-table-row grid-table-row-odd">
        <div class="hour-label hl-odd">09:00</div>
    </div>
    <div class="grid-table-row grid-table-row-even">
        <div class="hour-label hl-even">09:30</div>
    </div>
    <div class="grid-table-row grid-table-row-odd">
        <div class="hour-label hl-odd">10:00</div>
    </div>
    <div class="grid-table-row grid-table-row-even">
        <div class="hour-label hl-even">10:30</div>
    </div>
    <div class="grid-table-row grid-table-row-odd">
        <div class="hour-label hl-odd">11:00</div>
    </div>
    <div class="grid-table-row grid-table-row-even">
        <div class="hour-label hl-even">11:30</div>
    </div>
    <div class="grid-table-row grid-table-row-odd">
        <div class="hour-label hl-odd">12:00</div>
    </div>
    <div class="grid-table-row grid-table-row-even">
        <div class="hour-label hl-even">12:30</div>
    </div>
    <div class="grid-table-row grid-table-row-odd">
        <div class="hour-label hl-odd">13:00</div>
    </div>
    <div class="grid-table-row grid-table-row-even">
        <div class="hour-label hl-even">13:30</div>
    </div>
    <div class="grid-table-row grid-table-row-odd">
        <div class="hour-label hl-odd">14:00</div>
    </div>
    <div class="grid-table-row grid-table-row-even">
        <div class="hour-label hl-even">14:30</div>
    </div>
    <div class="grid-table-row grid-table-row-odd">
        <div class="hour-label hl-odd">15:00</div>
    </div>
    <div class="grid-table-row grid-table-row-even">
        <div class="hour-label hl-even">15:30</div>
    </div>
    <div class="grid-table-row grid-table-row-odd">
        <div class="hour-label hl-odd">16:00</div>
    </div>
    <div class="grid-table-row grid-table-row-even">
        <div class="hour-label hl-even">16:30</div>
    </div>
    <div class="grid-table-row grid-table-row-odd">
        <div class="hour-label hl-odd">17:00</div>
    </div>
    <div class="grid-table-row grid-table-row-even">
        <div class="hour-label hl-even">17:30</div>
    </div>
    <div class="grid-table-row grid-table-row-odd">
        <div class="hour-label hl-odd">18:00</div>
    </div>
    <div class="grid-table-row grid-table-row-even">
        <div class="hour-label hl-even">18:30</div>
    </div>
    <div class="grid-table-row grid-table-row-odd">
        <div class="hour-label hl-odd">19:00</div>
    </div>
    <div class="grid-table-row grid-table-row-even">
        <div class="hour-label hl-even">19:30</div>
    </div>
    <div class="grid-table-row grid-table-row-odd">
        <div class="hour-label hl-odd">20:00</div>
    </div>
    <div class="grid-table-row grid-table-row-even">
        <div class="hour-label hl-even">20:30</div>
    </div>
    <div class="grid-table-row grid-table-row-odd">
        <div class="hour-label hl-odd">21:00</div>
    </div>
    <div class="grid-table-row grid-table-row-even">
        <div class="hour-label hl-even">21:30</div>
    </div>
    <div class="grid-table-row grid-table-row-odd">
        <div class="hour-label hl-odd">22:00</div>
    </div>
    <div class="grid-table-row grid-table-row-even">
        <div class="hour-label hl-even">22:30</div>
    </div>
    <div class="grid-table-row grid-table-row-odd">
        <div class="hour-label hl-odd">23:00</div>
    </div>
    <div class="">
        <div class="hour-label hl-even">23:30</div>
    </div>
</div>
<div id="grid-table-wrapper-wk">

<div id="grid-rows-container" class="wk-grid-rows-cont">
    <div class="grid-table-row grid-table-row-odd">
    </div>
    <div class="grid-table-row grid-table-row-even">
    </div>
    <div class="grid-table-row grid-table-row-odd">
    </div>
    <div class="grid-table-row grid-table-row-even">
    </div>
    <div class="grid-table-row grid-table-row-odd">
    </div>
    <div class="grid-table-row grid-table-row-even">
    </div>
    <div class="grid-table-row grid-table-row-odd">
    </div>
    <div class="grid-table-row grid-table-row-even">
    </div>
    <div class="grid-table-row grid-table-row-odd">
    </div>
    <div class="grid-table-row grid-table-row-even">
    </div>
    <div class="grid-table-row grid-table-row-odd">
    </div>
    <div class="grid-table-row grid-table-row-even">
    </div>
    <div class="grid-table-row grid-table-row-odd">
    </div>
    <div class="grid-table-row grid-table-row-even">
    </div>
    <div class="grid-table-row grid-table-row-odd">
    </div>
    <div class="grid-table-row grid-table-row-even">
    </div>
    <div class="grid-table-row grid-table-row-odd">
    </div>
    <div class="grid-table-row grid-table-row-even">
    </div>
    <div class="grid-table-row grid-table-row-odd">
    </div>
    <div class="grid-table-row grid-table-row-even">
    </div>
    <div class="grid-table-row grid-table-row-odd">
    </div>
    <div class="grid-table-row grid-table-row-even">
    </div>
    <div class="grid-table-row grid-table-row-odd">
    </div>
    <div class="grid-table-row grid-table-row-even">
    </div>
    <div class="grid-table-row grid-table-row-odd">
    </div>
    <div class="grid-table-row grid-table-row-even">
    </div>
    <div class="grid-table-row grid-table-row-odd">
    </div>
    <div class="grid-table-row grid-table-row-even">
    </div>
    <div class="grid-table-row grid-table-row-odd">
    </div>
    <div class="grid-table-row grid-table-row-even">
    </div>
    <div class="grid-table-row grid-table-row-odd">
    </div>
    <div class="grid-table-row grid-table-row-even">
    </div>
    <div class="grid-table-row grid-table-row-odd">
    </div>
    <div class="grid-table-row grid-table-row-even">
    </div>
    <div class="grid-table-row grid-table-row-odd">
    </div>
    <div class="grid-table-row grid-table-row-even">
    </div>
    <div class="grid-table-row grid-table-row-odd">
    </div>
    <div class="grid-table-row grid-table-row-even">
    </div>
    <div class="grid-table-row grid-table-row-odd">
    </div>
    <div class="grid-table-row grid-table-row-even">
    </div>
    <div class="grid-table-row grid-table-row-odd">
    </div>
    <div class="grid-table-row grid-table-row-even">
    </div>
    <div class="grid-table-row grid-table-row-odd">
    </div>
    <div class="grid-table-row grid-table-row-even">
    </div>
    <div class="grid-table-row grid-table-row-odd">
    </div>
    <div class="grid-table-row grid-table-row-even">
    </div>
    <div class="grid-table-row grid-table-row-odd">
    </div>
    <div class="">
    </div>
</div>

<div class="grid-table-wk">
    <div id="weekgrid-col1" class="weekgrid-col"
         style="margin-left: 0; margin-right: 85.7143%; height: 100%;">

        <div class="wk-ad-layers-cont">
            <div id="wk-dec-layer-in-col1" class="wk-decoration-layer">

            <div class="expand-sign-wk-cont">
                <div class="expand-sign-wk expand-sign-wk-collapsed"></div>
            </div>

            <div class="expand-sign-wk-cont">
                <div class="expand-sign-wk expand-sign-wk-collapsed"></div>
            </div>

            <div class="expand-sign-wk-cont">
                <div class="expand-sign-wk expand-sign-wk-collapsed"></div>
            </div>

            <div class="expand-sign-wk-cont">
                <div class="expand-sign-wk expand-sign-wk-collapsed"></div>
            </div>

            <div class="expand-sign-wk-cont">
                <div class="expand-sign-wk expand-sign-wk-collapsed"></div>
            </div>

            <div class="expand-sign-wk-cont">
                <div class="expand-sign-wk expand-sign-wk-collapsed"></div>
            </div>

        </div>
        <div id="wk-events-layer-col1" class="wk-events-layer">
            <div class="event-rect-wk" style="top: 21px; width: 100%; height: 40px;">
                <div class="event-rect-wk-inner">
                    <div class="event-wk-timelabel">00:45 - 01:45</div>
                    Dynamic
                </div>
            </div>
            <div class="event-rect-wk" style="top: 100px; width: 100%; height: 70px;">
                <div class="event-rect-wk-inner event-rect-focused">
                    <div class="event-wk-timelabel">02:10 - 03:50</div>
                    Dynamic languages conference at Marvell Hills, part 2
                </div>
            </div>
        </div>
        <div id="wk-mask-layer-col1" class="wk-mask-layer">
            <div id="wk-mask-col1" class="wk-mask"
                 style="top: 200px; height: 808px;"></div>
        </div>
        </div>

    </div>
    <div id="weekgrid-col2" class="weekgrid-col"
         style="margin-left: 14.2857%; margin-right: 71.4286%; top: -100%">
        <div id="wk-dec-layer-in-col2" class="wk-decoration-layer">
        </div>
        <div id="wk-events-layer-col2" class="wk-events-layer">
        </div>
        <div id="wk-mask-layer-col2" class="wk-mask-layer">
            <div id="wk-mask-col2" class="wk-mask"
                 style="top: 0; height: 210px;"></div>
        </div>
    </div>
    <div id="weekgrid-col3" class="weekgrid-col"
         style="margin-left: 28.5714%; margin-right: 57.1428%; top: -200%">
        <div id="wk-dec-layer-in-col3" class="wk-decoration-layer">

            <div class="expand-sign-wk-cont">
                <div class="expand-sign-wk expand-sign-wk-collapsed"></div>
            </div>

            <div class="expand-sign-wk-cont">
                <div class="expand-sign-wk expand-sign-wk-collapsed"></div>
            </div>

            <div class="expand-sign-wk-cont">
                <div class="expand-sign-wk expand-sign-wk-collapsed"></div>
            </div>

            <div class="expand-sign-wk-cont">
                <div class="expand-sign-wk expand-sign-wk-collapsed"></div>
            </div>

            <div class="expand-sign-wk-cont">
                <div class="expand-sign-wk expand-sign-wk-collapsed"></div>
            </div>

            <div class="expand-sign-wk-cont">
                <div class="expand-sign-wk expand-sign-wk-collapsed"></div>
            </div>

        </div>
        <div id="wk-events-layer-col3" class="wk-events-layer">
        </div>
        <div id="wk-mask-layer-col3" class="wk-mask-layer">
            <div id="wk-mask-col3" class="wk-mask"
                 style="display: none;"></div>
        </div>
    </div>
    <div id="weekgrid-col4" class="weekgrid-col "
         style="margin-left: 42.8571%; margin-right: 42.8571%; top: -300%">
        <div class="wk-ad-layers-cont">
            <div id="wk-dec-layer-in-col4" class="wk-decoration-layer">
                <div id="today-mask-wk"></div>
                <div id="time-marker" style="top: 202px;"></div>
            </div>
            <div id="wk-events-layer-col4" class="wk-events-layer">
            </div>
            <div id="wk-mask-layer-col4" class="wk-mask-layer">
                <div id="wk-mask-col4" class="wk-mask"
                     style="display: none;"></div>
            </div>
        </div>
    </div>
    <div id="weekgrid-col5" class="weekgrid-col"
         style="margin-left: 57.1428%; margin-right: 28.5714%; top: -400%">
        <div id="wk-dec-layer-in-col5" class="wk-decoration-layer">
        </div>
        <div id="wk-events-layer-col5" class="wk-events-layer">
        </div>
        <div id="wk-mask-layer-col5" class="wk-mask-layer">
            <div id="wk-mask-col5" class="wk-mask"
                 style="display: none;"></div>
        </div>
    </div>
    <div id="weekgrid-col6" class="weekgrid-col"
         style="margin-left: 71.4286%; margin-right: 14.2857%; top: -500%">
        <div id="wk-dec-layer-in-col6" class="wk-decoration-layer">
        </div>
        <div id="wk-events-layer-col6" class="wk-events-layer">
        </div>
        <div id="wk-mask-layer-col6" class="wk-mask-layer">
            <div id="wk-mask-col6" class="wk-mask"
                 style="display: none;"></div>
        </div>
    </div>
    <div id="weekgrid-col7" class="weekgrid-col weekgrid-col-last"
         style="margin-left: 85.7143%; margin-right: 0; top: -600%">
        <div id="wk-dec-layer-in-col7" class="wk-decoration-layer">
        </div>
        <div id="wk-events-layer-col7" class="wk-events-layer">
        </div>
        <div id="wk-mask-layer-col7" class="wk-mask-layer">
            <div id="wk-mask-col7" class="wk-mask"
                 style="display: none;"></div>
        </div>
    </div>
</div>

</div>

</div>


</div>
</div>
</div>
</body>
</html>