<!doctype html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=utf-8">
  <title>Rflect events</title>
  <link href="{{STATIC_URL}}common.css" rel="stylesheet" type="text/css">
  <link href="{{STATIC_URL}}autocomplete.css" rel="stylesheet" type="text/css">
  <link href="{{STATIC_URL}}flatbutton.css" rel="stylesheet" type="text/css">
  <link href="{{STATIC_URL}}datepicker.css" rel="stylesheet" type="text/css">
  <link href="{{STATIC_URL}}dialog.css" rel="stylesheet" type="text/css">
  <link href="{{STATIC_URL}}savedialog.css" rel="stylesheet" type="text/css">
  <link href="{{STATIC_URL}}checkbox.css" rel="stylesheet" type="text/css">
  <link href="{{STATIC_URL}}rflectcalendar.css" rel="stylesheet" type="text/css">
  <link href="{{STATIC_URL}}colorcodes.css" rel="stylesheet" type="text/css">
  <link href="{{STATIC_URL}}tab.css" rel="stylesheet" type="text/css">
  <link href="{{STATIC_URL}}tabbar.css" rel="stylesheet" type="text/css">
  <link href="{{STATIC_URL}}settingspane.css" rel="stylesheet" type="text/css">
  <link href="{{STATIC_URL}}eventpane.css" rel="stylesheet" type="text/css">

</head>
<body>
<script type="text/javascript">
var ROOT_URL = '{{SITE_URL}}';
var CALENDARS = [];
var SETTINGS = {{SETTINGS|safe}};
</script>
<script src="{{STATIC_URL}}outputcompiled.js" type="text/javascript"></script>
</body>
</html>