<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <title>Rflect calendar</title>
    <link href="../css/common.css" rel="stylesheet" type="text/css">
    <link href="../css/flatbutton.css" rel="stylesheet" type="text/css">
    <link href="../css/datepicker.css" rel="stylesheet" type="text/css">
    <link href="../css/rflectcalendar.css" rel="stylesheet" type="text/css">
    <script src="../" type="text/javascript"></script>
</head>
<body>
<div class="main-container">
<div id="top-pane">

    <div id="sidebar-controls">

        <div class="goog-flat-button goog-flat-button-collapse-right
                         goog-inline-block cal-menu-leftmost-button
                         goog-flat-button-bord-rad-collapse-right
                         cal-menu-button cal-menu-button-now" id="nb1"
             role="button" style="-moz-user-select: none;" tabindex="0">
            Now
        </div><div class="goog-flat-button goog-flat-button-collapse-left
                        goog-flat-button-collapse-right
                         goog-inline-block goog-flat-button-bord-rad-collapse-both
                         cal-menu-button cal-menu-button-back" id="nb2"
             role="button" style="-moz-user-select: none;" tabindex="0">
            <div class="button-sign button-sign-back goog-inline-block"></div>

        </div><div class="goog-flat-button goog-flat-button-collapse-left
                        goog-inline-block cal-menu-rightmost-button
                        goog-flat-button-bord-rad-collapse-left
                        cal-menu-button cal-menu-button-forward" id="nb3"
             role="button" style="-moz-user-select: none;" tabindex="0">
            <!--<div class="button-sign-cont goog-inline-block">-->
                <div class="button-sign button-sign-forward goog-inline-block"></div>
            <!--</div>-->
        </div>

    </div>
    <div id="main-pane-controls">
        <div id="main-pane-controls-right">

            <div style="margin-right: 0px;" class="goog-inline-block">
            <div class="goog-flat-button goog-flat-button-collapse-right
                         goog-inline-block goog-flat-button-bord-rad-collapse-right
                         cal-menu-button" id="nb4"
                 role="button" style="-moz-user-select: none;" tabindex="0">
                Day
            </div><div class="goog-flat-button goog-flat-button-collapse-left
                        goog-flat-button-collapse-right
                         goog-inline-block goog-flat-button-active
                         goog-flat-button-bord-rad-collapse-both
                         cal-menu-button" id="nb5"
                 role="button" style="-moz-user-select: none;" tabindex="0">
                Week
            </div><div class="goog-flat-button goog-flat-button-collapse-left
                        goog-inline-block top-nav-rightmost-button
                        goog-flat-button-bord-rad-collapse-left
                        cal-menu-button cal-menu-button-month-view" id="nb6"
                 role="button" style="-moz-user-select: none;" tabindex="0">
                Month
            </div>
            </div>

            <div class="goog-flat-button
                        goog-inline-block cal-menu-rightmost-button
                        cal-menu-button cal-menu-button-options
                        " id="nb8"
                 role="button" style="-moz-user-select: none;" tabindex="0">
                <div class="button-sign button-sign-options goog-inline-block"></div>
            </div>
        </div>
        <div id="main-pane-controls-left">

            <div id="main-pane-controls-left-left">
                <div class="goog-flat-button
                        goog-inline-block cal-menu-button cal-menu-button-new-event
                        cal-menu-leftmost-button" id="nb7"
                     role="button" style="-moz-user-select: none;" tabindex="0">
                    New event
                </div>
            </div>
            <div id="main-pane-controls-left-right">
                <div id="time-period-label">31 Dec 2011 &ndash; 1 Jan 2012</div>
            </div>

            <!--<table border="0" cellspacing="0" cellpadding="0">
                <tbody>
                <tr>
                    <td id="left-navtable">
                        <div class="goog-flat-button
                        goog-inline-block top-nav-leftmost-button" id="nb7"
                             role="button" style="-moz-user-select: none;" tabindex="0">
                            New event
                        </div>
                    </td>
                    <td><div id="time-period-label">31 Dec 2011 &ndash; 1 Jan 2012</div></td>
                </tr>
                </tbody>
            </table>-->
        </div>
    </div>


</div>
<div id="main-body">
<div id="left-pane">
<div id="left-main-pane">
    <div id="month-selector">
        <div class="goog-date-picker" tabindex="0">
            <table cellspacing="0" cellpadding="0">
                <thead>
                <tr class="goog-date-picker-head">
                    <td colspan="7">
                        <div class="goog-date-picker-buttons">
                            <div class="goog-date-picker-btn month-sel-btn month-sel-btn-back">&nbsp;</div>
                            <div class="goog-date-picker-btn month-sel-btn month-sel-btn-forward">&nbsp;</div>
                        </div>
                        <div class="goog-date-picker-month">
                            2013&nbsp;August
                        </div>
                    </td>
                </tr>
                </thead>
                <tbody role="grid" tabindex="0" aria-activedescendant="goog-dp-63">
                <tr>
                    <!--<th></th>-->
                    <th role="columnheader" class="goog-date-picker-wday">M</th>
                    <th role="columnheader" class="goog-date-picker-wday">T</th>
                    <th role="columnheader" class="goog-date-picker-wday">W</th>
                    <th role="columnheader" class="goog-date-picker-wday">T</th>
                    <th role="columnheader" class="goog-date-picker-wday">F</th>
                    <th role="columnheader" class="goog-date-picker-wday">S</th>
                    <th role="columnheader" class="goog-date-picker-wday">S</th>
                </tr>
                <tr>
                    <!--<th class="" role="rowheader"></th>-->
                    <td id="goog-dp-42" role="gridcell" class="goog-date-picker-date">1</td>
                    <td id="goog-dp-43" role="gridcell" class="goog-date-picker-date">2</td>
                    <td id="goog-dp-44" role="gridcell" class="goog-date-picker-date">3</td>
                    <td id="goog-dp-45" role="gridcell" class="goog-date-picker-date">4</td>
                    <td id="goog-dp-46" role="gridcell" class="goog-date-picker-date">5</td>
                    <td id="goog-dp-47" role="gridcell" class="goog-date-picker-date goog-date-picker-wkend-start">6
                    </td>
                    <td id="goog-dp-48" role="gridcell" class="goog-date-picker-date goog-date-picker-wkend-end">7</td>
                </tr>
                <tr>
                    <!--<th class="" role="rowheader"></th>-->
                    <td id="goog-dp-49" role="gridcell" class="goog-date-picker-date">8</td>
                    <td id="goog-dp-50" role="gridcell" class="goog-date-picker-date">9</td>
                    <td id="goog-dp-51" role="gridcell" class="goog-date-picker-date">10</td>
                    <td id="goog-dp-52" role="gridcell" class="goog-date-picker-date">11</td>
                    <td id="goog-dp-53" role="gridcell" class="goog-date-picker-date">12</td>
                    <td id="goog-dp-54" role="gridcell" class="goog-date-picker-date goog-date-picker-wkend-start">13
                    </td>
                    <td id="goog-dp-55" role="gridcell" class="goog-date-picker-date goog-date-picker-wkend-end">14</td>
                </tr>
                <tr>
                    <!--<th class="" role="rowheader"></th>-->
                    <td id="goog-dp-56" role="gridcell" class="goog-date-picker-date">15</td>
                    <td id="goog-dp-57" role="gridcell" class="goog-date-picker-date">16</td>
                    <td id="goog-dp-58" role="gridcell" class="goog-date-picker-date">17</td>
                    <td id="goog-dp-59" role="gridcell" class="goog-date-picker-date">18</td>
                    <td id="goog-dp-60" role="gridcell" class="goog-date-picker-date">19</td>
                    <td id="goog-dp-61" role="gridcell" class="goog-date-picker-date goog-date-picker-wkend-start">20
                    </td>
                    <td id="goog-dp-62" role="gridcell" class="goog-date-picker-date goog-date-picker-wkend-end">21</td>
                </tr>
                <tr>
                    <!--<th class="" role="rowheader"></th>-->
                    <td id="goog-dp-63" role="gridcell" class="goog-date-picker-date goog-date-picker-selected">22</td>
                    <td id="goog-dp-64" role="gridcell" class="goog-date-picker-date">23</td>
                    <td id="goog-dp-65" role="gridcell" class="goog-date-picker-date">24</td>
                    <td id="goog-dp-66" role="gridcell" class="goog-date-picker-date">25</td>
                    <td id="goog-dp-67" role="gridcell" class="goog-date-picker-date">26</td>
                    <td id="goog-dp-68" role="gridcell" class="goog-date-picker-date goog-date-picker-wkend-start">27
                    </td>
                    <td id="goog-dp-69" role="gridcell" class="goog-date-picker-date goog-date-picker-wkend-end">28</td>
                </tr>
                <tr>
                    <!--<th class="" role="rowheader"></th>-->
                    <td id="goog-dp-70" role="gridcell" class="goog-date-picker-date">29</td>
                    <td id="goog-dp-71" role="gridcell" class="goog-date-picker-date">30</td>
                    <td id="goog-dp-72" role="gridcell" class="goog-date-picker-date">31</td>
                    <td id="goog-dp-73" role="gridcell" class="goog-date-picker-date goog-date-picker-other-month">1
                    </td>
                    <td id="goog-dp-74" role="gridcell" class="goog-date-picker-date goog-date-picker-other-month">2
                    </td>
                    <td id="goog-dp-75" role="gridcell"
                        class="goog-date-picker-date goog-date-picker-other-month goog-date-picker-wkend-start">3
                    </td>
                    <td id="goog-dp-76" role="gridcell"
                        class="goog-date-picker-date goog-date-picker-other-month goog-date-picker-wkend-end">4
                    </td>
                </tr>
                <tr>
                    <!--<th class="" role="rowheader"></th>-->
                    <td id="goog-dp-77" role="gridcell" class="goog-date-picker-date goog-date-picker-other-month">5
                    </td>
                    <td id="goog-dp-78" role="gridcell" class="goog-date-picker-date goog-date-picker-other-month">6
                    </td>
                    <td id="goog-dp-79" role="gridcell" class="goog-date-picker-date goog-date-picker-other-month">7
                    </td>
                    <td id="goog-dp-80" role="gridcell" class="goog-date-picker-date goog-date-picker-other-month">8
                    </td>
                    <td id="goog-dp-81" role="gridcell" class="goog-date-picker-date goog-date-picker-other-month">9
                    </td>
                    <td id="goog-dp-82" role="gridcell"
                        class="goog-date-picker-date goog-date-picker-other-month goog-date-picker-wkend-start">10
                    </td>
                    <td id="goog-dp-83" role="gridcell"
                        class="goog-date-picker-date goog-date-picker-other-month goog-date-picker-wkend-end">11
                    </td>
                </tr>
                </tbody>
                <tfoot style="display: none;">
                <tr class="goog-date-picker-foot">
                    <td colspan="2" class="goog-date-picker-today-cont">
                        <button class="goog-date-picker-btn" style="display: none;">Today</button>
                    </td>
                    <td colspan="3"></td>
                    <td colspan="2" class="goog-date-picker-none-cont">
                        <button class="goog-date-picker-btn" style="display: none;">None</button>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>

    <div id="calendars-selector" class="list-selector" style="height: 150px">
        <div id="calendars-label-cont" class="list-label-cont">
            <div id="calendars-label" class="list-label">Calendars</div>
            <div id="calitem-opt" class="listitem-opt calitem-opt-right"></div>
        </div>
        <div id="calendars-body" class="list-body">


            <div id="calitem-cont-item1" class="listitem-cont"
                 style="border-color: #28518e">
                <div id="calitem-color-item1" class="calitem-color-cont calitem-color-active">
                    <div class="calitem-color-up"></div>
                    <div class="calitem-color-down"></div>
                    <div class="listitem-checked-sign"></div>
                     </div>
                <div id="calitem-label-item1" class="listitem-label calitem-label-active">
                    <div id="calitem-opt-item1" class="listitem-opt-cont"></div>
                    Red calendarrrrr
                </div>
            </div>

            <!--<div id="calitem-cont-item2" class="listitem-cont"
                 style="border-color: #28518e">
                <div id="calitem-color-item2" class="listitem-color"
                     style="background-color: #6699ee"></div>
                <div id="calitem-label-item2" class="listitem-label calitem-label-inactive">
                    <div id="calitem-opt-item2" class="listitem-opt-cont"></div>
                    Blue calendar
                </div>
            </div>

            <div id="calitem-cont-item3" class="listitem-cont"
                 style="border-color: #28518e">
                <div id="calitem-color-item3" class="listitem-color"
                     style="background-color: #6699ee"></div>
                <div id="calitem-label-item3" class="listitem-label calitem-label-inactive">
                    <div id="calitem-opt-item3" class="listitem-opt-cont"></div>
                    Orange calendar
                </div>
            </div>-->

        </div>
    </div>

    <div id="tasks-selector" class="list-selector" style="height: 150px">
        <div id="tasks-label-cont" class="list-label-cont">
            <div id="tasks-label" class="list-label">Tasks</div>

            <div id="tasks-opt" class="tasks-opt tasks-opt-right"></div>

        </div>
        <div id="tasks-body" class="list-body">

            <div id="taskitem-cont-item1" class="listitem-cont"
                 style="border-color: #28518e">
                <div id="taskitem-color-item1" class="listitem-color"
                     style="background-color: #6699ee">
                    <div class="listitem-checked-sign"></div>
                     </div>
                <div id="taskitem-label-item1" class="listitem-label taskitem-label-completed">
                    <div id="taskitem-opt-item1" class="listitem-opt-cont"></div>
                    New UI
                </div>
            </div>

            <div id="taskitem-cont-item2" class="listitem-cont"
                 style="border-color: #28518e">
                <div id="taskitem-color-item2" class="listitem-color"
                     style="background-color: #6699ee"></div>
                <div id="taskitem-label-item2" class="listitem-label">
                    <div id="taskitem-opt-item2" class="listitem-opt-cont"></div>
                    Server platform
                </div>
            </div>

            <div id="taskitem-cont-item3" class="listitem-cont"
                 style="border-color: #28518e">
                <div id="taskitem-color-item3" class="listitem-color"
                     style="background-color: #6699ee"></div>
                <div id="taskitem-label-item3" class="listitem-label">
                    <div id="taskitem-opt-item3" class="listitem-opt-cont"></div>
                    Some taaaaaaaaaaaaaask
                </div>
            </div>

            <div id="taskitem-new-cont" class="taskitem-new">
                Add new task
            </div>

        </div>
    </div>
</div>
    <div id="left-aux-pane">

    </div>




</div>
<div id="main-pane">

<div id="main-pane-header">
    <div id="daynames-prefix-mn">

    </div>

    <div id="main-pane-header-container" class="main-pane-header-container-mn">
        <div id="main-pane-header-wk-daynames">
            <table id="weekmode-daynames-table" cellspacing="0" cellpadding="0">
                <tbody>
                <tr>
                    <!--<td id="daynames-prefix" rowspan="2"></td>-->
                    <td id="dayname0">monday</td>
                    <td id="dayname1">tuesday</td>
                    <td id="dayname2">wednesday</td>
                    <td id="dayname3">thursday</td>
                    <td id="dayname4">friday</td>
                    <td id="dayname5">saturday</td>
                    <td id="dayname6">sunday</td>
                </tr>
                </tbody>
            </table>
        </div>


    </div>


</div>

<div id="main-pane-body-scrollable-wrapper" style="height: 420px;">

<div id="main-pane-header-mn-zippies">
    <table id="monthmode-zippies-table" cellspacing="0" cellpadding="0" style="top: 0;">
                <tbody>
                <tr>
                    <td id="mn-zippy-cont-row1" style="height: 70px;">
                        <div class="mn-row-zippy-cont">
                            <div id="mn-zippy-row1" class="zippy mn-row-zippy mn-row-zippy-collapsed"></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td id="mn-zippy-cont-row2" style="height: 70px;">
                        <div class="mn-row-zippy-cont">
                            <div id="mn-zippy-row2" class="zippy mn-row-zippy mn-row-zippy-collapsed"></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td id="mn-zippy-cont-row3" style="height: 200px;">
                        <div class="mn-row-zippy-cont">
                            <div id="mn-zippy-row3" class="zippy mn-row-zippy mn-row-zippy-collapsed"></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td id="mn-zippy-cont-row5" style="height: 70px;">
                        <div class="mn-row-zippy-cont">
                            <div id="mn-zippy-row4" class="zippy mn-row-zippy mn-row-zippy-collapsed"></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td id="mn-zippy-cont-row6" style="height: 70px;">
                        <div class="mn-row-zippy-cont">
                            <div id="mn-zippy-row5" class="zippy mn-row-zippy mn-row-zippy-collapsed"></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td id="mn-zippy-cont-row7" style="height: 69px;">
                        <div class="mn-row-zippy-cont">
                            <div id="mn-zippy-row6" class="zippy mn-row-zippy mn-row-zippy-collapsed"></div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

<div id="main-pane-body-scrollable-mn" class="mpbs-mn-scroll-vert-on">

<div id="grid-table-wrapper-outer" style="height: 550px;">
<div id="weeknum-cont">
    <table id="weeknums" cellspacing="0" cellpadding="0">
        <tr>
            <td id="weeknum1" class="weeknum-label"
                    style="height: 70px;">
                <span>10</span>
            </td>
        </tr>
        <tr>
            <td id="weeknum2" class="weeknum-label"
                    style="height: 70px;">
                <span>10</span>
            </td>
        </tr>
        <tr>
            <td id="weeknum3" class="weeknum-label"
                    style="height: 200px;">
                <span>10</span>
            </td>
        </tr>
        <tr>
            <td id="weeknum4" class="weeknum-label"
                    style="height: 70px;">
                <span>10</span>
            </td>
        </tr>
        <tr>
            <td id="weeknum5" class="weeknum-label"
                    style="height: 70px;">
                <span>10</span>
            </td>
        </tr>
        <tr>
            <td id="weeknum6" class="weeknum-label"
                    style="height: 69px;">
                <span>10</span>
            </td>
        </tr>

        <!--<tr>
            <td id="weeknum1" class="weeknum-label weeknum-row">
                10
            </td>
        </tr>
        <tr>
            <td id="weeknum2" class="weeknum-label weeknum-row">
                11
            </td>
        </tr>
        <tr>
            <td id="weeknum3" class="weeknum-label weeknum-row">
                12
            </td>
        </tr>
        <tr>
            <td id="weeknum4" class="weeknum-label weeknum-row">
                13
            </td>
        </tr>
        <tr>
            <td id="weeknum5" class="weeknum-label weeknum-row">
                14
            </td>
        </tr>
        <tr>
            <td id="weeknum6" class="weeknum-label">
                15
            </td>
        </tr>-->

    </table>
</div>
<div id="grid-table-wrapper-mn">

<div id="grid-cols-container" class="mn-grid-cols-cont">

    <!--<div class="goog-inline-block weekgrid-col"
                    style="height: 426px; width: 14.2857%"></div>
    <div class="goog-inline-block weekgrid-col"
                    style="height: 426px; width: 14.2857%"></div>
    <div class="goog-inline-block weekgrid-col"
                    style="height: 426px; width: 14.2857%"></div>
    <div class="goog-inline-block weekgrid-col"
                    style="height: 426px; width: 14.2857%"></div>
    <div class="goog-inline-block weekgrid-col"
                    style="height: 426px; width: 14.2857%"></div>
    <div class="goog-inline-block weekgrid-col"
                    style="height: 426px; width: 14.2857%"></div>
    <div class="goog-inline-block"
                    style="height: 426px; width: 14.2857%"></div>-->

    <table id="grid-cols-cont-inner" cellspacing="0" cellpadding="0" style="">
        <tbody>
            <tr>
                        <!--<td style="padding-right: 1px;">
                            <div class="goog-inline-block weekgrid-col"
                                style="height: 426px; width: 100%; ">
                                </div>
                        </td>
                        <td style="padding-right: 1px;">
                            <div class="goog-inline-block weekgrid-col"
                                style="height: 426px; width: 100%; ">
                                </div>
                        </td>
                        <td style="padding-right: 1px;">
                            <div class="goog-inline-block weekgrid-col"
                                style="height: 426px; width: 100%; ">
                                </div>
                        </td>
                        <td style="padding-right: 1px;">
                            <div class="goog-inline-block weekgrid-col"
                                style="height: 426px; width: 100%; ">
                                </div>
                        </td>
                        <td style="padding-right: 1px;">
                            <div class="goog-inline-block weekgrid-col"
                                style="height: 426px; width: 100%; ">
                                </div>
                        </td>
                        <td style="padding-right: 2px;">
                            <div class="goog-inline-block weekgrid-col"
                                style="height: 426px; width: 100%; ">
                                </div>
                        </td>
                        <td style="padding-right: 0;">
                            <div class="goog-inline-block"
                                style="height: 426px; width: 100%; ">
                                </div>
                        </td>-->



                        <td class="weekgrid-col">
                        &nbsp;
                        </td>
                <td class="weekgrid-col">
                        &nbsp;
                        </td>
                <td class="weekgrid-col">
                        &nbsp;
                        </td>
                <td class="weekgrid-col">
                        &nbsp;
                        </td>
                <td class="weekgrid-col">
                        &nbsp;
                        </td>
                <td class="weekgrid-col">
                        &nbsp;
                        </td>
                <td class="">
                        &nbsp;
                        </td>

                    </tr>
        </tbody>
    </table>

</div>
<table id="grid-table-mn" cellspacing="0" cellpadding="0" class="grid-table-mn">
    <tbody>
    <tr>
        <!--<td class="weekgrid-col weekgrid-prefix">
        </td>-->
        <td id="monthgrid-row1" class="monthgrid-row" style="height: 69px;">
            <div class="mn-layers-cont">
            <div id="mn-dec-layer-row1" class="mn-decoration-layer">
               <table cellspacing="0" cellpadding="0" class="daynums">
                   <tbody>
                   <tr>
                       <td class="daycell">
                        <div class="expand-sign-mn-cont">
                            <div class="expand-sign-mn expand-sign-mn-collapsed"></div>
                        </div>
                        <div class="daynum-cont">
                            <div id="daynum-0-0" class="daynum-label dl-other-month">26</div></div>
                       </td>
                       <td class="daycell">
                        <div class="expand-sign-mn-cont">
                            <div class="expand-sign-mn expand-sign-mn-collapsed"></div>
                        </div>
                        <div class="daynum-cont">
                            <div id="daynum-1-0" class="daynum-label dl-other-month">27</div></div>
                       </td>
                       <td class="daycell">
                        <div class="expand-sign-mn-cont">
                            <div class="expand-sign-mn expand-sign-mn-collapsed"></div>
                        </div>
                        <div class="daynum-cont">
                            <div id="daynum-2-0" class="daynum-label dl-other-month">28</div></div>
                       </td>
                       <td class="daycell">
                        <div class="expand-sign-mn-cont">
                            <div class="expand-sign-mn expand-sign-mn-collapsed"></div>
                        </div>
                        <div class="daynum-cont">
                            <div id="daynum-3-0" class="daynum-label dl-other-month">29</div></div>
                       </td>
                       <td class="daycell">
                        <div class="expand-sign-mn-cont">
                            <div class="expand-sign-mn expand-sign-mn-collapsed"></div>
                        </div>
                        <div class="daynum-cont">
                            <div id="daynum-4-0" class="daynum-label dl-other-month">30</div></div>
                       </td>
                       <td class="daycell">
                        <div class="expand-sign-mn-cont">
                            <div class="expand-sign-mn expand-sign-mn-collapsed"></div>
                        </div>
                        <div class="daynum-cont">
                            <div id="daynum-5-0" class="daynum-label">1</div></div>
                       </td>
                       <td class="daycell">
                        <div class="expand-sign-mn-cont">
                            <div class="expand-sign-mn expand-sign-mn-collapsed"></div>
                        </div>
                        <div class="daynum-cont">
                            <div id="daynum-6-0" class="daynum-label">2</div></div>
                       </td>
                   </tr>
                   </tbody>
               </table>
            </div>
            <div id="mn-events-layer-row1" class="mn-events-layer">
                <div class="event-rect-mn-outer" style="left: 42.8571%; width: 14.2857%;">
                <!--<div class="event-rect-mn-outer" style="margin-left: 42.8571%; margin-right: 42.8571%;">-->
                                    <div class="event-rect-mn">
                                    <div class="event-rect-mn-inner"
                                         style="background-color: #7bce6d; color: #2c2c2c">
                                        Planning Rflect Tests
                                    </div>
                                </div></div>
                <div class="event-rect-mn-outer" style="left: 57.1428%; width: 14.2857%; top: -17px">
                <!--<div class="event-rect-mn-outer" style="margin-left: 42.8571%; margin-right: 42.8571%;">-->
                                    <div class="event-rect-mn">
                                    <div class="event-rect-mn-inner"
                                         style="background-color: #7bce6d; color: #2c2c2c">
                                        Planning Rflect Tests
                                    </div>
                                </div></div>
                <div class="event-rect-mn-outer" style="left: 0; width: 100%; top: -17px;">
                <!--<div class="event-rect-mn-outer" style="margin-left: 42.8571%; margin-right: 42.8571%;">-->
                                    <div class="event-rect-mn">
                                    <div class="event-rect-mn-inner"
                                         style="background-color: #7bce6d; color: #2c2c2c">
                                        Week of Javascript optimization
                                    </div>
                                </div></div>
            </div>
            <div id="mn-mask-layer-row1" class="mn-mask-layer">
                <div id="mn-mask-col1" class="mn-mask"
                     style="left: 20%; width: 20%;"></div>
            </div>
            </div>
        </td>
    </tr>
    <tr>
        <td id="monthgrid-row2" class="monthgrid-row" style="height: 69px;">
            <div class="mn-layers-cont">
            <div id="mn-dec-layer-row2" class="mn-decoration-layer" >
                <table cellspacing="0" cellpadding="0" class="daynums">
                   <tbody>
                   <tr>
                       <td class="daycell">
                        <div class="expand-sign-mn-cont">
                            <div class="expand-sign-mn expand-sign-mn-collapsed"></div>
                        </div>
                        <div class="daynum-cont">
                            <div id="daynum-0-1" class="daynum-label">3</div></div>
                       </td>
                       <td class="daycell">
                        <div class="expand-sign-mn-cont">
                            <div class="expand-sign-mn expand-sign-mn-collapsed"></div>
                        </div>
                        <div class="daynum-cont">
                            <div id="daynum-1-1" class="daynum-label">4</div></div>
                       </td>
                       <td class="daycell">
                        <div class="expand-sign-mn-cont">
                            <div class="expand-sign-mn expand-sign-mn-collapsed"></div>
                        </div>
                        <div class="daynum-cont">
                            <div id="daynum-2-1" class="daynum-label">5</div></div>
                       </td>
                       <td class="daycell">
                        <div class="expand-sign-mn-cont">
                            <div class="expand-sign-mn expand-sign-mn-collapsed"></div>
                        </div>
                        <div class="daynum-cont">
                            <div id="daynum-3-1" class="daynum-label">6</div></div>
                       </td>
                       <td class="daycell">
                        <div class="expand-sign-mn-cont">
                            <div class="expand-sign-mn expand-sign-mn-collapsed"></div>
                        </div>
                        <div class="daynum-cont">
                            <div id="daynum-4-1" class="daynum-label">7</div></div>
                       </td>
                       <td class="daycell">
                        <div class="expand-sign-mn-cont">
                            <div class="expand-sign-mn expand-sign-mn-collapsed"></div>
                        </div>
                        <div class="daynum-cont">
                            <div id="daynum-5-1" class="daynum-label">8</div></div>
                       </td>
                       <td class="daycell">
                        <div class="expand-sign-mn-cont">
                            <div class="expand-sign-mn expand-sign-mn-collapsed"></div>
                        </div>
                        <div class="daynum-cont">
                            <div id="daynum-6-1" class="daynum-label">9</div></div>
                       </td>
                   </tr>
                   </tbody>
               </table>
            </div>
            <div id="mn-events-layer-row2" class="mn-events-layer">
                <div class="event-rect-mn-outer" style="left: 14.2857%; width: 28.5714%;">
                <!--<div class="event-rect-mn-outer" style="margin-left: 42.8571%; margin-right: 42.8571%;">-->
                                    <div class="event-rect-mn">
                                    <div class="event-rect-mn-inner"
                                         style="background-color: #7bce6d; color: #2c2c2c">
                                        Django meetup
                                    </div>
                                </div></div>
                <div class="event-rect-mn-outer" style="left: 28.5714%; width: 42.8571%;">
                <!--<div class="event-rect-mn-outer" style="margin-left: 42.8571%; margin-right: 42.8571%;">-->
                                    <div class="event-rect-mn">
                                    <div class="event-rect-mn-inner"
                                         style="background-color: #7bce6d; color: #2c2c2c">
                                        Week of Javascript optimization
                                    </div>
                                </div></div>
            </div>
            <div id="mn-mask-layer-row2" class="mn-mask-layer">
                <div id="mn-mask-row2" class="mn-mask"
                     style="left: 0; width: 20%;"></div>
            </div>
            </div>
        </td>
    </tr>
    <tr>
        <td id="monthgrid-row3" class="monthgrid-row" style="height: 200px;">
            <div class="mn-layers-cont">
            <div id="mn-dec-layer-in-row3" class="mn-decoration-layer">
                <table cellspacing="0" cellpadding="0" class="daynums">
                   <tbody>
                   <tr>
                       <td class="daycell">
                        <div class="expand-sign-mn-cont">
                            <div class="expand-sign-mn expand-sign-mn-collapsed"></div>
                        </div>
                        <div class="daynum-cont">
                            <div id="daynum-0-2" class="daynum-label">10</div></div>
                       </td>
                       <td class="daycell">
                        <div class="expand-sign-mn-cont">
                            <div class="expand-sign-mn expand-sign-mn-collapsed"></div>
                        </div>
                        <div class="daynum-cont">
                            <div id="daynum-1-2" class="daynum-label">11</div></div>
                       </td>
                       <td class="daycell">
                        <div class="expand-sign-mn-cont">
                            <div class="expand-sign-mn expand-sign-mn-collapsed"></div>
                        </div>
                        <div class="daynum-cont">
                            <div id="daynum-2-2" class="daynum-label">12</div></div>
                       </td>
                       <td class="daycell">
                        <div class="expand-sign-mn-cont">
                            <div class="expand-sign-mn expand-sign-mn-collapsed"></div>
                        </div>
                        <div class="daynum-cont">
                            <div id="daynum-3-2" class="daynum-label">13</div></div>
                       </td>
                       <td class="daycell">
                        <div class="expand-sign-mn-cont">
                            <div class="expand-sign-mn expand-sign-mn-collapsed"></div>
                        </div>
                        <div class="daynum-cont">
                            <div id="daynum-4-2" class="daynum-label">14</div></div>
                       </td>
                       <td class="daycell">
                        <div class="expand-sign-mn-cont">
                            <div class="expand-sign-mn expand-sign-mn-collapsed"></div>
                        </div>
                        <div class="daynum-cont">
                            <div id="daynum-5-2" class="daynum-label">15</div></div>
                       </td>
                       <td class="daycell">
                        <div class="expand-sign-mn-cont">
                            <div class="expand-sign-mn expand-sign-mn-collapsed"></div>
                        </div>
                        <div class="daynum-cont">
                            <div id="daynum-6-2" class="daynum-label">16</div></div>
                       </td>
                   </tr>
                   </tbody>
               </table>
            </div>
            <div id="mn-events-layer-row3" class="mn-events-layer">
                <div class="event-rect-mn-outer" style="left: 14.2857%; width: 10%; top: 0;">
                <!--<div class="event-rect-mn-outer" style="margin-left: 42.8571%; margin-right: 42.8571%;">-->
                                    <div class="event-rect-mn">
                                    <div class="event-rect-mn-inner"
                                         style="background-color: #7bce6d; color: #2c2c2c">
                                        Django meetup
                                    </div>
                                </div></div>
                <div class="event-rect-mn-outer" style="left: 24.2857%; width: 42.8571%; top: -17px">
                <!--<div class="event-rect-mn-outer" style="margin-left: 42.8571%; margin-right: 42.8571%;">-->
                                    <div class="event-rect-mn">
                                    <div class="event-rect-mn-inner"
                                         style="background-color: #7bce6d; color: #2c2c2c">
                                        Week of Javascript optimization
                                    </div>
                                </div></div>
            </div>
            <div id="mn-mask-layer-row3" class="mn-mask-layer">
                <div id="mn-mask-row3" class="mn-mask"
                     style="display: none;"></div>
            </div>
            </div>
        </td>
    </tr>
    <tr>
        <td id="monthgrid-row4" class="monthgrid-row" style="height: 69px;">
            <div class="mn-layers-cont">
            <div id="mn-dec-layer-row4" class="mn-decoration-layer" >
                <table cellspacing="0" cellpadding="0" class="daynums">
                   <tbody>
                   <tr>
                       <td class="daycell">
                        <div class="expand-sign-mn-cont">
                            <div class="expand-sign-mn expand-sign-mn-collapsed"></div>
                        </div>
                        <div class="daynum-cont">
                            <div id="daynum-0-3" class="daynum-label">17</div></div>
                       </td>
                       <td class="daycell">
                        <div class="expand-sign-mn-cont">
                            <div class="expand-sign-mn expand-sign-mn-collapsed"></div>
                        </div>
                        <div class="daynum-cont">
                            <div id="daynum-1-3" class="daynum-label">18</div></div>
                       </td>
                       <td class="daycell">
                        <div class="expand-sign-mn-cont">
                            <div class="expand-sign-mn expand-sign-mn-collapsed"></div>
                        </div>
                        <div class="daynum-cont">
                            <div id="daynum-2-3" class="daynum-label">19</div></div>
                       </td>
                       <td class="daycell">
                        <div class="expand-sign-mn-cont">
                            <div class="expand-sign-mn expand-sign-mn-collapsed"></div>
                        </div>
                        <div class="daynum-cont">
                            <div id="daynum-3-3" class="daynum-label">20</div></div>
                       </td>
                       <td class="daycell">
                        <div class="expand-sign-mn-cont">
                            <div class="expand-sign-mn expand-sign-mn-collapsed"></div>
                        </div>
                        <div class="daynum-cont">
                            <div id="daynum-4-3" class="daynum-label">21</div></div>
                       </td>
                       <td class="daycell">
                        <div class="expand-sign-mn-cont">
                            <div class="expand-sign-mn expand-sign-mn-collapsed"></div>
                        </div>
                        <div class="daynum-cont">
                            <div id="daynum-5-3" class="daynum-label">22</div></div>
                       </td>
                       <td class="daycell">
                        <div class="expand-sign-mn-cont">
                            <div class="expand-sign-mn expand-sign-mn-collapsed"></div>
                        </div>
                        <div class="daynum-cont">
                            <div id="daynum-6-3" class="daynum-label">23</div></div>
                       </td>
                   </tr>
                   </tbody>
               </table>
            </div>
            <div id="mn-events-layer-row4" class="mn-events-layer">
            </div>
            <div id="mn-mask-layer-row4" class="mn-mask-layer">
                <div id="mn-mask-row4" class="mn-mask"
                     style="display: none;"></div>
            </div>
            </div>
        </td>
    </tr>
    <tr>
        <td id="monthgrid-row5" class="monthgrid-row" style="height: 69px;">
            <div class="mn-layers-cont">
            <div id="mn-dec-layer-in-row5" class="mn-decoration-layer" >
                <table cellspacing="0" cellpadding="0" class="daynums">
                   <tbody>
                   <tr>
                       <td class="daycell">
                        <div class="expand-sign-mn-cont">
                            <div class="expand-sign-mn expand-sign-mn-collapsed"></div>
                        </div>
                        <div class="daynum-cont">
                            <div id="daynum-0-4" class="daynum-label">24</div></div>
                       </td>
                       <td class="daycell">
                        <div class="expand-sign-mn-cont">
                            <div class="expand-sign-mn expand-sign-mn-collapsed"></div>
                        </div>
                        <div class="daynum-cont">
                            <div id="daynum-1-4" class="daynum-label">25</div></div>
                       </td>
                       <td class="daycell">
                        <div class="expand-sign-mn-cont">
                            <div class="expand-sign-mn expand-sign-mn-collapsed"></div>
                        </div>
                        <div class="daynum-cont">
                            <div id="daynum-2-4" class="daynum-label">26</div></div>
                       </td>
                       <td class="daycell">
                        <div class="expand-sign-mn-cont">
                            <div class="expand-sign-mn expand-sign-mn-collapsed"></div>
                        </div>
                        <div class="daynum-cont">
                            <div id="daynum-3-4" class="daynum-label">27</div></div>
                       </td>
                       <td class="daycell">
                        <div class="expand-sign-mn-cont">
                            <div class="expand-sign-mn expand-sign-mn-collapsed"></div>
                        </div>
                        <div class="daynum-cont">
                            <div id="daynum-4-4" class="daynum-label">28</div></div>
                       </td>
                       <td class="daycell">
                        <div class="expand-sign-mn-cont">
                            <div class="expand-sign-mn expand-sign-mn-collapsed"></div>
                        </div>
                        <div class="daynum-cont">
                            <div id="daynum-5-4" class="daynum-label">29</div></div>
                       </td>
                       <td class="daycell">
                        <div class="expand-sign-mn-cont">
                            <div class="expand-sign-mn expand-sign-mn-collapsed"></div>
                        </div>
                        <div class="daynum-cont">
                            <div id="daynum-6-4" class="daynum-label">30</div></div>
                       </td>
                   </tr>
                   </tbody>
               </table>
            </div>
            <div id="mn-events-layer-row5" class="mn-events-layer">
            </div>
            <div id="mn-mask-layer-row5" class="mn-mask-layer">
                <div id="mn-mask-row5" class="mn-mask"
                     style="display: none;"></div>
            </div>
            </div>
        </td>
    </tr>
    <tr>
        <td id="monthgrid-row6" class="" style="height: 69px;">
            <div class="mn-layers-cont">
            <div id="mn-dec-layer-in-row6" class="mn-decoration-layer" >
                <table cellspacing="0" cellpadding="0" class="daynums">
                   <tbody>
                   <tr>
                       <td class="daycell">
                        <div class="expand-sign-mn-cont">
                            <div class="expand-sign-mn expand-sign-mn-collapsed"></div>
                        </div>
                        <div class="daynum-cont">
                            <div id="daynum-0-5" class="daynum-label">31</div></div>
                       </td>
                       <td class="daycell">
                        <div class="expand-sign-mn-cont">
                            <div class="expand-sign-mn expand-sign-mn-collapsed"></div>
                        </div>
                        <div class="daynum-cont">
                            <div id="daynum-1-5" class="daynum-label dl-other-month">1</div></div>
                       </td>
                       <td class="daycell">
                        <div class="expand-sign-mn-cont">
                            <div class="expand-sign-mn expand-sign-mn-collapsed"></div>
                        </div>
                        <div class="daynum-cont">
                            <div id="daynum-2-5" class="daynum-label dl-other-month">2</div></div>
                       </td>
                       <td class="daycell">
                        <div class="expand-sign-mn-cont">
                            <div class="expand-sign-mn expand-sign-mn-collapsed"></div>
                        </div>
                        <div class="daynum-cont">
                            <div id="daynum-3-5" class="daynum-label dl-other-month">3</div></div>
                       </td>
                       <td class="daycell">
                        <div class="expand-sign-mn-cont">
                            <div class="expand-sign-mn expand-sign-mn-collapsed"></div>
                        </div>
                        <div class="daynum-cont">
                            <div id="daynum-4-5" class="daynum-label dl-other-month">4</div></div>
                       </td>
                       <td class="daycell">
                        <div class="expand-sign-mn-cont">
                            <div class="expand-sign-mn expand-sign-mn-collapsed"></div>
                        </div>
                        <div class="daynum-cont">
                            <div id="daynum-5-5" class="daynum-label dl-other-month">5</div></div>
                       </td>
                       <td class="daycell">
                        <div class="expand-sign-mn-cont">
                            <div class="expand-sign-mn expand-sign-mn-collapsed"></div>
                        </div>
                        <div class="daynum-cont">
                            <div id="daynum-6-5" class="daynum-label dl-other-month">6</div></div>
                       </td>
                   </tr>
                   </tbody>
               </table>
            </div>
            <div id="mn-events-layer-row6" class="mn-events-layer">
            </div>
            <div id="mn-mask-layer-row6" class="mn-mask-layer">
                <div id="mn-mask-row6" class="mn-mask"
                     style="display: none;"></div>
            </div>
            </div>
        </td>
    </tr>
    </tbody>
</table>

</div>
</div>

</div>

</div>

</div>
</div>
</div>
</body>
</html>