extends base

block cssLinks
  if processed
    each cssFileName in cssFileNames
      link(rel='stylesheet', href=staticDir + '/css/' + cssFileName)
  else
    link(rel='stylesheet', href='build/compiled.css')

block content

  h1(class='login-header').
    Login

  div(id='wrong-alert-cont', class='hide alert-cont', style='display:none')
    div(class='alert alert-error')
      strong
        span(class='login-error')
        i(class='fa fa-times icon-alert-close')

  form(action='/login', method='POST', class='settings-body')
    div.login-cont
      div(class='pane-left goog-inline-block')
        label(for='username', class='label-fluid event-pane-label login-label').
          User name
      div(class='pane-right goog-inline-block')
        input(class='event-date-input login-input', placeholder='User name', id='username', name='username', type='text', autofocus='autofocus')

    div.login-cont
      div(class='pane-left goog-inline-block')
        label(for='password', class='label-fluid event-pane-label login-label').
          Password
      div(class='pane-right goog-inline-block')
        input(class='event-date-input login-input', placeholder='Password', id='password', name='password', type='password')

    div.login-cont.login-submit-cont
      input(type='submit', class='goog-inline-block goog-flat-button cal-menu-button emphasis-button login-submit', value='Log in')

  script.