extends base

block cssLinks
  each cssFileName in !{cssFileNames}
    link(rel='stylesheet', src='/css/' + cssFileName)

block content
  script
    var CALENDARS = calendars;
    var SETTINGS = settings;
block jsLinksBody
  each jsFileName in !{jsFileNames}
    script(src='/js/' + jsFileName)
