extends base

block cssLinks
  each cssFileName in cssFileNames
    link(rel='stylesheet', href='/static/css/' + cssFileName)

block content
  script.
    var CALENDARS = !{calendars};
    var SETTINGS = !{settings};
    var MODULES = !{modules};
    var LANGUAGE_NAMES = !{languageNames};
block jsLinksBody
  each jsFileName in jsFileNames
    script(src='/static/js/' + jsFileName)
