extends base-mobile

block cssLinks
  link(rel='stylesheet', href='/css/rflectcalendar.css')

block jsLinksHead
  script(src='/src/closure-library/closure/goog/base.js')
  script(src='/src/deps.js')
  script(src='/src/rflect/cal/loader.js')

block content
  script.
    var CALENDARS = !{calendars};
    var SETTINGS = !{settings};
    var LANGUAGE_NAMES = !{languageNames};
  script.
    // Call main method.
    new rflect.cal.Loader().enterDocument();
