{namespace rflect.cal.ui.soy.editdialogcontent}


/***/
{template .editDialogContent autoescape="false"}
  <div class="event-pane-cont">
    <span id="ed-event-time" class="event-time">
    </span>
  </div>
  <div class="event-pane-cont">
    <button type="button" id="ed-event-edit" class="event-edit-link">
    </button>
  </div>
{/template}