{namespace rflect.cal.ui.soy.timemarker}


/**
 * @param top Top position.
 */
{template .timeMarkerHead autoescape="false"}
  <div id="time-marker-head" style="top:{$top}px;" class="time-marker-head">
  </div>
{/template}


/**
 * @param top Top position.
 */
{template .timeMarkerLine autoescape="false"}
  <div id="time-marker" style="top:{$top}px;" class="time-marker"></div>
{/template}
